.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
    background-color: white;
    width: 80%;
}

.calculator-heading{
    color:#000000;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 700;
}

.display-input{
    width: 65%;
    border: 1px solid #000000;
    border-radius: 6px;
    color: #000000;
    font-size: 24px;
    padding-right: 24px;
    height:60px ;
    text-align: right;
    outline: none;
}

.display-input:hover{
    cursor: initial;
}

.calculator-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 65%;
    margin-top: 16px;
}

@media  screen and (min-width:1024px) and (max-width:1236px) {
    .calculator-btn-container{
        width: 85%;
    }
    .display-input{
        width: 85%;
    }
}

@media screen and (max-width:1023px){
    .calculator-btn-container{
        width: 90%;
    }
    .display-input{
        width: 85%;
    }
}

.calculator-button{
    height: 80px;
    width: 140px;
    margin: 8px;
    border-radius: 50%;
    font-size: 28px;
    background-color: #000000b7;
    color: #ffffff;
    border: none;
}

.calculator-button:hover{
    cursor: pointer;
}

.red-btn{
    background-color: red;
}

.green-btn{
    background-color: green;
}

.blue-btn{
    background-color: rgb(54, 109, 238);
}


@media screen and (max-width:904px) {
    .calculator-button{
        height:60px;
        width: 100px;
    }
}

@media screen and (max-width:640px) {
    .calculator-container{
        width: 95%;
    }
    .calculator-button{
        height:40px;
        width: 80px;
    }
    .calculator-btn-container{
        width: 95%;
    }
    .display-input{
        width: 90%;
        height: 40px;
    }
}

@media screen and (max-width:460px){
    .calculator-button{
        margin: 4px;
        font-size: 24px;
    }
}

@media screen and (max-width:426px) {
    .calculator-button{
        font-size: 16px;
        width: 70px;
        height: 30px;
    }
}

@media screen and (max-width:382px) {
    .calculator-button{
        font-size: 16px;
        width: 60px;
        height: 30px;
    }
}